.btn-custom {
  background-color: #FF6900;
  color: white;
  border: none;
}

.btn-custom:hover {
  transform: scale(1.1); /* membesar 10% */
  background-color: #FF6900;
  color: white;
}

.brand-color {
  color: #FF6900;
}

.brand-color:hover {
  color: #FF6900;
}

.bg-custom-color {
  background-color: #F9FAFB;
}

.font-custom-color {
  color: #4A5565;
}

.bg-search-bar-color {
  background-color: #F3F3F5;
}